modules = ["python-base-3.13"]
[nix]
channel = "stable-24_05"

language = "python3"
run = "python app.py"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]

[[ports]]
localPort = 8080
externalPort = 80
